.btn {
  width: 322px;
  height: 42px;

  padding: 6px;
  font-size: 18px;
  font-weight: bold;
  color: var(--white);

  border: none;
  outline: none;
  border-radius: 6px;
  background: var(--blue-600);
  box-shadow: 2px 4px 14px rgb(0, 0, 0, 0.2);

  cursor: pointer;
}
